/* =========================
   App & Layout
========================= */

.app {
  width: 100%;
  min-height: 100vh;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

/* =========================
     Sidebar
  ========================= */

.sidebar {
  width: 300px;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  background: #000;
  border-right: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 0 20px 20px 0;
  overflow-y: auto;
  transition: width 0.3s ease;
  padding: 40px 40px 40px 40px;
}

.sidebar--minimized {
  width: 80px;
}

.sidebar-nav {
  flex: 1;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.sidebar-nav-list {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav-item {
  margin: 0.25rem 0;
}

.sidebar-nav-item:last-child {
  margin-top: auto;
  margin-bottom: 1rem;
}

.sidebar-nav-link {
  width: 100%;
  padding: 0.75rem 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  background: none;
  border: none;
  cursor: pointer;

  color: #fff;
  text-decoration: none;
  font: inherit;
  text-align: left;

  position: relative;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(234, 241, 235, 0.87);
}

.sidebar-nav-link--active {
  background: #ffffff;
  color: #000;
  font-weight: 500;
  border-radius: 0px 5px 5px 0px;
}

.sidebar-nav-link--active::before {
  content: "";
  position: absolute;
  inset: 0 auto 0 0;
  width: 3px;
  background: whitesmoke;
}

.sidebar-nav-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.sidebar-nav-label {
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.sidebar--minimized .sidebar-nav-label {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.sidebar--minimized .sidebar-nav-link {
  justify-content: center;
  padding: 0.75rem;
}

.sidebar-logo-large {
  width: 300px;
  padding: 40px 20px 40px 0px;
}

/* =========================
     Pages
  ========================= */

.page {
  min-height: 100vh;
}

/* =========================
     Overview Page
  ========================= */

.overview-card .row1 {
  margin: 32px 0;
  width: 1060px;
  height: 119px;

  display: flex;
  gap: 24px;

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-card .CB {
  width: 214px;
  height: 119px;

  padding: 24px;
  border-radius: 20px;

  background: #000;
  color: #ffeded;
}

.overview-card .displayincome,
.overview-card .displayExp {
  width: 399px;
  height: 119px;

  padding: 24px;
  border-radius: 20px;

  background: #fff;
  color: #000;
}

.overview-card .overviewdisplaypot {
  width: 608px;
  height: 218px;
  border-radius: 20px;
  padding: 32px;
  background: red;
}
